@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
::selection{
    color: #bae09d;
    background-color: #201e1e;
}

body{
    position: relative;
    background-color: #f3f3e6; 
    background-repeat: no-repeat;  
    background-attachment: fixed;
    font-family: 'Inter', sans-serif;
    text-transform:initial;
}
section{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 40vw;
    height: 60vh;
    background-color: #f3f3e6;
    color: #caf5ad;
    border-radius: 10px;
    margin: 90px auto;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.4);
}
.topo{
    position: relative;
    padding:10px;
    font-size: 3vh;
    background-color: #d74c0e;
    width: 100%;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
}
.checkbox{
    position: relative;
    display: flex;
    align-items: center;
    background-color: #c5f7a5;
    padding: 5px;
    width: 95%;
    margin: 5px;
    border-radius: 10px;
    color: #201e1e;
    gap: 29vh;
    font-weight: 300;
    font-size: 10px;
    transition: 0.2s all ease;
}
.checkbox:hover{
    background-color: #9fe971;
}

.checkbox .x{  
    font-weight: 600;  
    border-radius: 2px;
    padding: 3px;
    margin: 0.5px;
    width: 15px;
    font-size: 9px;
    color: #d74c0e;
    background-color: #f7f8f6;
    align-items: center;
    text-align: center;
    transition: 0.3s all ease;
}
.checkbox .x:hover{
    background-color: #201e1e;
    color: #f7f8f6;

}

.checkbox > input[type="checkbox"]:checked + div{
    color: #d74c0e;
    text-decoration: line-through;
}
.text{
    font-size: 2vh;
    color: #f7f8f6;
    background-color: #575555;
    display: flex;
    padding: 8px;
    width: 83vh;
    margin: 2px auto;
    border-radius: 10px;
    outline: none;
    
}

